.cards {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px 0; 
}